@use "../mixins" as Mixins;

@function getSize($multiplier: 1) {
    @return calc(var(--size) * $multiplier);
}

@function getAspectRatio($inverted: false) {
    @if $inverted {
        @return calc(var(--videoHeight) / var(--videoWidth));
    }
    @return calc(var(--videoWidth) / var(--videoHeight));
}

@mixin grid-and-mobile {
    @include Mixins.screen-width(640px) {
        @include Mixins.desktop {
            @content;
        }
    }
    @include Mixins.mobile-oriented(landscape) {
        @content;
    }
}


.video {
    padding: var(--video-padding);
    font-size: var(--fsize);

    .content-container {
        display: flex;
        flex-direction: column;
        gap: calc(var(--padding));
        font-size: var(--fsize);
        // padding: var(--video-padding);
        .expandable {
            @include Mixins.mobile-oriented(portrait) {
                margin-inline: var(--padding);
                margin-left: var(--padding);
                margin-right: var(--padding);
            }
        }

        @include grid-and-mobile() {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: calc((100vw / 3 * 2 - (var(--padding) * 1.5)) * getAspectRatio(true)) 1fr;

            #info {
                grid-column: 1 / 2;
            }
            #list, #list .expandable__container {
                max-height: calc(100vh - var(--padding) * 2);
            }
            .extra-container {
                grid-column: 2 / 3;
                grid-row: 1 / 3;
            }

            .video__player, canvas {
                height: calc((100vw / 3 * 2 - (var(--padding) * 1.5)) * getAspectRatio(true));
            }
        }
    }

    &__player {
        position: relative;
        overflow: hidden;
        color: white;
        display: grid;
        place-items: center;
        flex-shrink: 0;
        background-color: hsl(0 0% 0% / .055);
        z-index: 2;

        canvas {
            width: calc(max(var(--max), 100vw - (var(--padding) * 2)) * getAspectRatio());
            margin-inline: auto;
        }

        @include Mixins.mobile-oriented(landscape) {
            --max: 100vh;
        }

        &:fullscreen {
            --max: 100vh;
            canvas {
                max-height: 100vh;
                max-width: 100vw;
                height: unset;
                width: calc(100vh * getAspectRatio());
            }
        }
        @include Mixins.mobile {
            --max: 80dvh;
        }
    }
    &__controls {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        user-select: none;

        #playpause {
            bottom: calc(var(--size) * .5);
            left: calc(var(--size) * .5);
        }
        #exit {
            top: calc(var(--size) * .5);
            right: calc(var(--size) * .5);
        }
        #fullscreen {
            bottom: calc(var(--size) * .5);
            right: calc(var(--size) * .5);
        }
        #volume {
            bottom: calc(var(--size) * .5);
            left: calc(var(--size) * 2.5);
            position: absolute;
            // background-color: red;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            width: calc(var(--size) * 1.5);
            height: calc(var(--size) * 1.5 + (var(--size) * .1));
            transition: width 300ms ease-in-out;
            overflow-x: hidden;

            @include Mixins.hover {
                width: calc(var(--size) * 9);
            }
            @include Mixins.mobile {
                width: calc(var(--size) * 1.5) !important;
            }

            #volume__toggler {
                display: block;
                position: relative;
                height: calc(var(--size) * 1.5);
                width: calc(var(--size) * 1.5);
                @include Mixins.hover {
                    background-color: transparent;
                }
            }
            .track {
                width: calc(var(--size) * 6.5);
            }
        }
        #timebar {
            bottom: calc(var(--size) * 2.5);
            width: calc(100% - var(--size));
            left: calc(var(--size) * .5);

            .timestamp {
                width: calc(var(--size) * 3.6);
                font-size: var(--size);
                display: flex;
                align-items: center;
                height: calc(var(--size) * 1.5);
                &.current-time { flex-direction: row-reverse; }
                &.remaining-time { text-align: left; }
            }
        }
        .prevent-controls-missclick {
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
            width: 100%;
            height: calc(var(--size) * 4);
        }
        .click-handler {
            position: absolute;
            width: calc(100% / 2.5);
            height: 100%;
            top: 0;
            &.left {
                left: 0;
            }
            &.right {
                right: 0;
            }
        }
        #left-time,
        #right-time {
            top: calc(50% - (var(--size)));
            height: var(--size);
            font-size: var(--size);
            filter: drop-shadow(.1rem .1rem .1rem hsl(var(--hsl-bg-alt) / .25));
        }
        #left-time {
            left: 20%;
        }
        #right-time {
            right: 20%;
        }
    }
}